<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat application</title>
    <script src="socket.io/socket.io.js"></script>
</head>
<body>

    <div id="login-form">
        <input type="text" id="username-input" placeholder="Enter your username here">
        <button onclick="login()">Send</button>
    </div>

    <select id="userList">
        <option value="">Select a user</option>
    </select>
    
    <div id="chat-container">
        <ul id="messages">
        </ul>
        <form id="form">
            <input type="text" id="input">
            <button id="send">Send</button>
        </form>
    </div>

    <script>
        let socket = io();
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        var messages = document.getElementById('messages');
        var chat = document.getElementById('chat-container');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            const to = document.getElementById('userList').value;
            if (input.value) {
                const message = {
                    senderId: 1,
                    receiverId: to,
                    content: input.value
                };
                socket.emit('message', message);
                input.value = '';
            }
        })

        socket.on('newMessage', (message) => {
            console.log(message);
            var newItem = document.createElement("li")
            newItem.textContent = message.content;
            chat.appendChild(newItem); 
        });

        socket.on('userLogged', (connectedUsers) => {
            const userListElement = document.getElementById('userList');
            connectedUsers.forEach((user) => {
                const option = document.createElement('option');
                option.value = user;
                option.textContent = user;
                userListElement.appendChild(option);
            })
        })
        const login = () => {
            const usernameInput = document.getElementById('username-input');
            const username = usernameInput.value.trim();

            if (username !== '') {
                socket.emit('login', username);
                document.getElementById('login-form').style.display = 'none';
                document.getElementById('chat-container').style.display = 'block';
            }
        }
    </script>
</body>
</html>